name: docs

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  docs:
    name: "Deploy docs"
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: true

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.2"
          enable-cache: true

      - run: uv sync --frozen --extra docs

      - run: uv run --frozen mkdocs gh-deploy --config-file mkdocs.yml --force --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docs-build:
    name: "Test docs build"
    runs-on: ubuntu-24.04
    if: ${{ github.event_name != 'push' || github.ref != 'refs/heads/main' }}

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.2"
          enable-cache: true

      - run: uv sync --frozen --extra docs

      - run: uv run --frozen mkdocs build --config-file mkdocs.yml --strict
