name: External packages

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  # workflow_dispatch:
  # schedule:
  #   - cron: "0 23 * * 2,3,4"


jobs:
  test-manifest:
    runs-on: ubuntu-24.04
    strategy:

      # Do not make the whole matrix fail if one element fails
      fail-fast: false
      matrix:
        package: [skip]
        github_repo: [skip]
        github_branch: [skip]
        cmd_install: [skip]

        include:

          - package: fractal-tasks-core
            github_repo: fractal-analytics-platform/fractal-tasks-core
            github_branch: main
            cmd_install: 'python -m pip install -e .[fractal-tasks]'


          - package: fractal-helper-tasks
            github_repo: fractal-analytics-platform/fractal-helper-tasks
            github_branch: main
            cmd_install: 'python -m pip install -e .'


          - package: fractal-uzh-converters
            github_repo: fractal-analytics-platform/fractal-uzh-converters
            github_branch: main
            cmd_install: 'python -m pip install -e .'

          - package: operetta-compose
            github_repo: leukemia-kispi/operetta-compose
            github_branch: main
            cmd_install: 'python -m pip install -e .'

          # - package: scMultipleX
          #   github_repo: xxxxxxxxxxxxxxxxxx/gliberal-scMultipleX
          #   github_branch: main
          #   cmd_install: 'python -m pip install -e .[fractal-tasks,spherical-harmonics]'

          - package: APx_fractal_task_collection
            github_repo: Apricot-Therapeutics/APx_fractal_task_collection
            github_branch: main
            cmd_install: 'python -m pip install -e .'

        exclude:
          - package: skip
            github_repo: skip
            github_branch: skip
            cmd_install: skip

    steps:

      - name: Print matrix-element information
        run: echo '${{ matrix.package }}, ${{ matrix.github_repo }}, ${{ matrix.github_branch }}, ${{ matrix.cmd_install }}'

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Update pip
        run:  python -m pip install --upgrade pip

      - name: Get package source code
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.github_repo }}
          ref: ${{ matrix.github_branch }}
          persist-credentials: false

      - name: Get current branch of `fractal-task-tools`
        uses: actions/checkout@v4
        with:
          path: fractal-task-tools
          persist-credentials: false

      - name: Install package
        run: ${{ matrix.cmd_install }}

      - name: Install current version of `fractal-task-tools`
        run: python -m pip install ./fractal-task-tools

      - name: Check manifest
        run: fractal-manifest check --package ${{ matrix.package }}

      - name: Install  current version of `fractal-task-tools` with `dev` extra
        run: python -m pip install ./fractal-task-tools[dev]

      - name: Run script to look at manifest with different JSON Schema drafts
        run: python ./fractal-task-tools/tests/scripts/validate_multi_draft.py

      - name: Run script to validate manifest against fractal-server schema
        run: python ./fractal-task-tools/tests/scripts/validate_with_fractal_server.py
